body {
  font-family: sans-serif;
  color: black;
  background: white;

  text-align: center;
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
}

button {
  width: 100%
}

.content {
  text-align: left;
}
